
/*
    Custom Styles overriding Bootstrap's one
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.cont-domi_lp{
    font-family: 'Oswald', sans-serif;
    background: #2980B9;  
    /* BG colors fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}




